/* 
Global: Estilização global do projeto 
-Só é possível criar border no global

Scoped: arquivo gerado qnd se cria um componente, e serve para apenas aquele componente
*/

body{
    background-color: rgb(53, 110, 112);
}

.div{
    border: solid 2px black;
}

